:root {
    --light-grey: #f3f4f6;
    --standard-grey: #d0d2d6;
    --dark-grey: #81848d;
    --white: #fff;
    --dark-teal: #0d9488;
    --light-teal: #2dd4bf;
    --dark-red: #cf3131;
    --light-red: #e33838;
    --linear-gradient-teal: linear-gradient(to right, var(--dark-teal), var(--light-teal));
    --linear-gradient-red: linear-gradient(to right, var(--dark-red), var(--light-red));
    --selected: #1fbaa5;
    --tooltip-bg: #2d2c2c;
    --title-star: #dc2626;
    --yellow: rgb(218, 218, 33);
    --green: rgb(12, 179, 12);
}

/*GENERAL*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.pointer:hover {
    cursor: pointer;
}

a,
input,
select {
    outline: none;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.flex {
    display: flex;
}

.padding-right {
    padding-right: 8px;
}

.mixed-teal {
    background: var(--linear-gradient-teal);
}

.mixed-red {
    background: var(--linear-gradient-red);
}

.white {
    color: var(--white) !important;
}

.high-priority {
    color: var(--dark-red);
}

.medium-priority {
    color: var(--yellow);
}

.low-priority {
    color: var(--green);
}

/*icons*/

#sidebar .fa-trash-can:hover,
#sidebar .fa-pen-to-square:hover,
#sidebar fa-circle-info:hover {
    font-size: 1.3rem;
}

/*HEADER*/
.header {
    padding: 1.5rem 2rem;
    color: white;
    font-size: 1.8rem;
}


/*NAV*/

#sidebar {
    background-color: var(--light-grey);
    height: 100%;
    position: fixed;
    width: 300px;
    padding: 2rem 1rem;
    font-size: 1.2rem;
}

#sidebar a {
    background-color: var(--white);
}

/*MENU-LINKS*/

#sidebar .selected-link {
    background-color: var(--selected);
    color: var(--white) !important;

}

#sidebar .selected-link .icon-link {
    color: var(--white) !important;
}

#sidebar .selected-link:hover {
    background-color: var(--dark-teal);
}

.nav-menu {
    background-color: var(--white);
    padding: 10px 20px;
}

link,
.nav-menu-link {
    color: var(--dark-grey);
    margin-bottom: 1.5rem;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.link:hover {
    border: 1px solid var(--selected);
}

.icon-link {
    color: var(--dark-teal);
}

.nav-menu-link p {
    display: inline-block;
    vertical-align: middle;
}

/*Projects*/
.projects-title {
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--dark-grey);
}

.plus-icon {
    color: var(--dark-teal);
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.nav-projects {
    color: var(--dark-grey);
}

.tooltip-text {
    font-size: 16px;
    visibility: hidden;
    background-color: var(--tooltip-bg);
    color: var(--white);
    border-radius: 6px;
    margin-left: -60px;
    width: 135px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    transform: translateX(-50%);
    opacity: 0;
    padding: 10px;
    text-align: center;
    transition: opacity .3s;
    text-transform: none;
    text-wrap: nowrap;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.tooltip-icon .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 85%;
    margin-left: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;

}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*Project NAVBAR*/

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8px 10px;
}

.projects-list .project-link:first-child {
    margin-top: 1rem;
}

.project-link {
    justify-content: space-between;
    color: var(--dark-grey);
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--white);
}

.left-project-div {
    display: flex;
    gap: 5px;
}

.project-link:hover {
    border: 1px solid var(--dark-teal);
}

.project-link-icons i {
    transition: 0.1s;
}

.project-link i {
    color: var(--dark-teal);
}

.project-link-icons {
    gap: 5px;
}

/*FOOTER*/

footer {
    padding: 8px 10px;
    margin-top: 1rem;
    border-top: 1px solid var(--dark-grey);
    font-size: 1rem;
    text-align: center;
}

footer p {
    color: var(--dark-grey);
}

footer span {
    color: var(--dark-teal);
    background-color: var(--light-grey);
}


/*MODALS*/

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Animation for slideIn */
@keyframes slideIn {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.modal-card {
    max-width: 400px;
    position: relative;
    margin: 15% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*MODAL HEADER*/
.modal-header {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.modal-title {
    font-weight: 600;
}

#close-btn {
    font-size: 1.3rem;
}

/*ADD TASK/PROJECT MODAL*/
#modal input[type="text"] {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid var(--dark-grey);
}

#modal input[type="text"]:focus {
    border: 1px solid var(--dark-teal);
}

form {
    display: flex;
    flex-direction: column;
}

.modal-title-div {
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 0.5rem;
}

/*Title*/
#title-star {
    color: var(--title-star);
}

.empty-input-error {
    color: var(--title-star);
    font-size: 12px;
    margin-top: 5px;
}

/*MODAL TASK SECTION*/
.modal-task-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*DESCRIPTION*/

.task-description-div {
    flex-direction: column;
}

.task-description-div textarea {
    outline: none;
    padding: 6px;
    font-family: inherit;
    border-radius: 3px;
}

.task-description-div textarea:focus {
    border: 1px solid var(--dark-teal);
}

/*DUE DATE*/

.task-due-date-div {
    flex-direction: column;
}

#due-date {
    padding: 6px;
    font-family: inherit;
    border-radius: 3px;
    appearance: none;
    border: 1px solid var(--dark-grey);
}

#due-date:focus {
    border: 1px solid var(--dark-teal);

}

/*TASK PRIORITY*/

.input-group {
    display: flex;
    flex-direction: column;
}

.task-priority select {
    padding: 6px;
}


.task-priority select:focus {
    border: 1px solid var(--dark-teal);
}

/*MODALS BUTTONS*/
.modal-buttons {
    border-top: 1px solid var(--light-grey);
    background-color: var(--white);
    padding: 1rem;
    justify-content: flex-end;
    gap: 10px;
}

#modal button {
    font-family: inherit;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.cancel-btn {
    border: 1px solid var(--standard-grey);
    background-color: var(--white);
    transition: 0.3s;
}

.cancel-add:hover {
    border-color: var(--dark-teal);
    color: var(--dark-teal);
}

.cancel-delete:hover {
    border: 1px solid var(--dark-grey);
}

.confirm-btn {
    border: 1px solid transparent;
    color: var(--white);
    transition: 0.3s;
}

.delete-btn {
    background-color: var(--light-red);
}

.delete-btn:hover {
    background-color: var(--dark-red);
}

.add-btn {
    background-color: var(--selected);
}

.add-btn:hover {
    background-color: var(--dark-teal);
}

/*MAIN*/

#main {
    margin-left: 300px;
}

.main-title-ctn {
    justify-content: center;
    padding: 1.5rem;
    color: var(--dark-grey);
    align-items: center;

    gap: 10px;
}

.main-title-icon {
    font-size: 30px;
    color: var(--selected);
}

.main-title-text {
    font-weight: lighter;
}

.tasks-container {
    margin: auto;
    padding: 1rem;
    max-width: 1000px;
    justify-content: space-between;
    font-size: 1.3rem;
    color: var(--dark-grey);
    font-weight: 100;
    border-bottom: 1px solid var(--dark-grey);
}

.task-right-side i {
    transition: 0.3s;
}

.task-right-side i:hover {
    font-size: 1.2rem;
}

.task-div {
    margin-left: 300px;
    justify-content: space-between;
    max-width: 1000px;
    padding: 20px 10px 20px 20px;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--light-grey);
}

.task-div:hover {
    background-color: var(--light-grey);
}

.task-left-side {
    gap: 5px;
}

.task-right-side {
    gap: 7px;
}

.task-due-date {
    font-size: 14px;
    color: var(--dark-teal);
}

.completed {
    text-decoration: line-through;
}